[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "install/geeknote"]
	path = install/geeknote
	url = git://github.com/VitaliyRodnenko/geeknote.git
